* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, Sans Serif;
	line-height: 1.7;
}

.header {
	margin-top: 60px;
	text-align: center;
	font-size: 24px;
	color: #333333;
}

.header span {
	font-weight: 400;
	display: block;
}

.header strong {
	font-weight: 900;
	text-transform: uppercase;
}

.section {
	padding: 20px 10%;
}

.main {
	margin-top: 60px;
}